

version: "3.9"

services:
  web:
    image: jayakrishnagolla/ept-dashboard:latest
    container_name: eptpravahaa_web
    ports:
      - "3000:80"
    restart: always
    environment:
      - NODE_ENV=production
